* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    border: 1px solid gray;
    width: 85%;
    margin: 20px auto;
    padding: 25px 150px;
    background-color: rgb(248, 245, 245);
}

.nav-bar , .footer{
    background-color:rgb(255,242,204);
    border: 1px solid rgb(220,191,103);
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.lnav {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.logo {
    width: 40px;
    height: 40px;
    border: 1px solid plum;
    border-radius: 100%;
    background-color: rgb(225,213,231);
    margin: 5px 10px;
}

.bold {
    font-weight: 600;
}

.rnav {
    display: flex;
    align-items: center;
}

.head {
    padding: 0 20px;
}

.head:last-child {
    background-color: rgb(218,232,252);
    border: 1px solid rgb(54, 97, 97);
    border-radius: 8px;
    padding: 5px 10px;
    margin-right: 35px;
}

.infor , .cart{
    padding: 20px 30px;
}

.main-inf {
    display: flex;
    background-color: #fff;
}

.inf {
    padding: 5px 30px 15px;
    border: 1px solid black;
    width: 100%;
}

.txt {
    width: 100%;
    height: 30px;
    border: 0.5px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
}

.pay {
    padding: 10px;
    border: 1px solid black;
    margin: 15px auto;
}

.main-cart {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
}

.lcart {
    display: flex;
}

.img {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    margin: 0 20px;
    background-color: rgb(235, 232, 232);
}

.cp {
    font-size: 25px;
    margin-bottom: 10px;
}

.cbtn {
    padding: 5px;
    background-color: rgb(176,227,230);
    border: 0.5px solid rgb(42, 70, 70);
    border-radius: 4px;
    width: 55px;
    margin-right: 10px;
}

.choose {
    margin-bottom: 20px;
}

select {
    padding: 5px;
    width: 70px;
    border-radius: 5px;
}

.rm {
    padding:5px 10px;
    background-color: rgb(248,206,204);
    border: 0.5px solid chocolate;
    border-radius: 5px;
    margin-left: 5px;
}

.submit {
    padding: 5px 15px;
    background-color: rgb(218,232,252);
    border: 0.5px solid rgb(36, 129, 129);
    border-radius: 5px;
}

.footer {
    flex-direction: column;
    padding: 20px;
}

.adr-main {
    display: flex;
    margin-left: 30px;
}

.adr {
    margin-right: 40px;
}

.require {
    color: red;
}

